* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

h1 {
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

p {
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
  color: purple;
  text-align: center;
  line-height: 1.5;
}

header {
  padding: 12% 0;
}

section {
  min-height: 200px;
  padding: 6% 0;
  background-color: #bbb;
}
